<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ol>
    <% results.forEach(function(post) {%>
        <li>
            Post ID: <%= post.id %>, 
            Message: <%= post.message %>, 
            Image: <a href="<%= post.imageUrl %>" target="_blank">Click here to view image</a> <br>
            Created: <%= post.createdAt %>, 
            Posted by: <%= post.postedBy.username %> <br>
            Likes: <%= post.likedBy.length %>, 
            Dislikes: <%= post.dislikedBy.length %>
        </li>
    <% }); %>
</ol>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>