<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ol>
    <% results.forEach(function(post) {%>
        <li>
            Post ID: <%= post.id %>, Message: <%= post.message %>, Image: <%= post.imageUrl %>, Created: <%= post.createdAt %>,
            Posted by: <%= post.postedBy.username %>, Likes: <%= post.likedBy.length %>, Dislikes: <%= post.dislikedBy.length %>
        </li>
    <% }); %>
</ol>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>