<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1><%= name %></h1>

<img src = "<%= profileImageUrl %>" alt = "Text for if the URL doesn't work" width = 100px>
</body>
<%- include('_footer') -%>
</html>