<html lang="en-gb">
<%- include('_head') -%>
<body>

    <div class = "banner_div">
        <div class = "user_info" style = "--coverImageUrl: url(<%= coverImageUrl %>)";>     
            <img class = "profile_photo" src = "<%= profileImageUrl %>" alt = "Profile photo">
            <div class = "user_credentials">
                <h1 class = "profile_name"><%= name %></h1>
                <p class = "profile_username"><%= username %></p>
                <p class = "profile_email"><%= email %></p>
            </div>
        </div>
    </div>

    <div class = "posts_navbar">
        <ul>
            <a href = "#user_posts">Posts</a>
            <a href = "#user_likes">Likes</a>
            <a href = "#user_dislikes">Dislikes</a>
        </ul>
    </div>

    <div class = "posts_container" id = "user_posts"> 
        <div class = "container_header"> 
            <h2>Posts</h2>
        </div>
        <% posts.forEach(function(post) {%>
            <div class = "user_post"> 
                <p class = "post_timestamp"><%= post.createdAt %></p>  
                <p class = "post_left_quote"><i class = "fas fa-quote-left"></i></p>
                <p class = "post_message"><%= post.message %></p>                
                <p class = "post_right_quote"><i class="fas fa-quote-right"></i>
                    <a class = "post_link" href="<%= post.imageUrl %>" target="_blank"><i class="fas fa-image"></i></a>
                </p>                
            </div>
        <% }); %>
    </div>  

    <div class = "posts_container" id = "user_likes"> 
        <div class = "container_header"> 
            <h2>Likes</h2>
        </div>
        <% likes.forEach(function(post) {%>
            <div class = "user_post"> 
                <p class = "post_timestamp"><%= post.createdAt %></p>  
                <p class = "post_left_quote"><i class = "fas fa-quote-left"></i></p>
                <p class = "post_message"><%= post.message %></p>                
                <p class = "post_right_quote"><i class="fas fa-quote-right"></i>
                    <a class = "post_link" href="<%= post.imageUrl %>" target="_blank"><i class="fas fa-image"></i></a>
                </p>                
            </div>
        <% }); %>
    </div>  

    <div class = "posts_container" id = "user_dislikes"> 
        <div class = "container_header"> 
            <h2>Dislikes</h2>
        </div>
        <% dislikes.forEach(function(post) {%>
            <div class = "user_post"> 
                <p class = "post_timestamp"><%= post.createdAt %></p>  
                <p class = "post_left_quote"><i class = "fas fa-quote-left"></i></p>
                <p class = "post_message"><%= post.message %></p>                
                <p class = "post_right_quote"><i class="fas fa-quote-right"></i>
                    <a class = "post_link" href="<%= post.imageUrl %>" target="_blank"><i class="fas fa-image"></i></a>
                </p>                
            </div>
        <% }); %>
    </div>  
</body>
<%- include('_footer') -%>
</html>