<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>

    <div class = "user_info" style = "--coverImageUrl: url(<%= coverImageUrl %>)";>
        <h1 name="name"><%= name %></h1>        
        <img class = "profile-photo" src = "<%= profileImageUrl %>" alt = "Profile photo">
        <h2 name="username"><%= username %></h2>
    </div>

    <h3>Posts</h3>
    <ol>
        <% posts.forEach(function(post) {%>
            <li> 
                Message: <%= post.message %>, 
                Image: <a href="<%= post.imageUrl %>" target="_blank">Click here to view image</a> <br>
                Created: <%= post.createdAt %> <br>
            </li>
        <% }); %>
    </ol>    

    <h3>Likes</h3>
    <ol>
        <% likes.forEach(function(post) {%>
            <li> 
                Message: <%= post.message %>, 
                Image: <a href="<%= post.imageUrl %>" target="_blank">Click here to view image</a> <br>
                Created: <%= post.createdAt %> <br>
            </li>
        <% }); %>
    </ol>   

    <h3>Dislikes</h3>
    <ol>
        <% dislikes.forEach(function(post) {%>
            <li> 
                Message: <%= post.message %>, 
                Image: <a href="<%= post.imageUrl %>" target="_blank">Click here to view image</a> <br>
                Created: <%= post.createdAt %> <br>
            </li>
        <% }); %>
    </ol>   
</body>
<%- include('_footer') -%>
</html>