<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>

    <img src = "<%= coverImageUrl %>" alt = "Cover photo" max.width = 100%> <br>
    <h1 name="name"><%= name %></h1>
    <h2 name="username"><%= username %></h2>
    <img src = "<%= profileImageUrl %>" alt = "Profile photo" width = 200px>

    <h3>Posts</h3>
    <ol>
        <% posts.forEach(function(post) {%>
            <li> 
                Message: <%= post.message %>, 
                Image: <a href="<%= post.imageUrl %>" target="_blank">Click here to view image</a> <br>
                Created: <%= post.createdAt %> <br>
            </li>
        <% }); %>
    </ol>    

    <h3>Likes</h3>
    <ol>
        <% likes.forEach(function(post) {%>
            <li> 
                Message: <%= post.message %>, 
                Image: <a href="<%= post.imageUrl %>" target="_blank">Click here to view image</a> <br>
                Created: <%= post.createdAt %> <br>
            </li>
        <% }); %>
    </ol>   

    <h3>Dislikes</h3>
    <ol>
        <% dislikes.forEach(function(post) {%>
            <li> 
                Message: <%= post.message %>, 
                Image: <a href="<%= post.imageUrl %>" target="_blank">Click here to view image</a> <br>
                Created: <%= post.createdAt %> <br>
            </li>
        <% }); %>
    </ol>   
</body>
<%- include('_footer') -%>
</html>