<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>

    <div class = "banner_div">
        <div class = "user_info" style = "--coverImageUrl: url(<%= coverImageUrl %>)";>     
            <img class = "profile_photo" src = "<%= profileImageUrl %>" alt = "Profile photo">
            <div class = "user_credentials">
                <h1 class = "profile_name"><%= name %></h1>
                <p class = "profile_username"><%= username %></p>
                <p class = "profile_email"><%= email %></p>
            </div>
        </div>
    </div>

    <div class = "posts_navbar">
        <ul>
            <a href = "#user_posts">Posts</a>
            <a href = "#user_likes">Likes</a>
            <a href = "#user_dislikes">Dislikes</a>
        </ul>
    </div>

    <!-- <button type = "button" id = "colourButton" onclick = "changeBackgroundColor()">
        Click me for a fun surprise!
    </button> -->

    <div class = "all_posts_container">
        <h2 class = "subtitle" id = "user_posts"><%= name.substr(0, name.indexOf(' '))%>'s Posts</h2>
        <div class = "posts_container">
            <% posts.forEach(function(post) {%>
                <div class = "user_post"> 
                    <!-- <img class = "post_image" src = "<%= post.imageUrl %>"> -->
                    <p class = "post_timestamp"><%= post.createdAt.substr(0,10) %></p>  
                    <p class = "post_message"><%= post.message %></p>        
                    <!-- <a class = "post_link" href= target="_blank"><i class="fas fa-image"></i></a>                                    -->
                </div>
            <% }); %>
        </div>

        <h2 class = "subtitle" id = "user_likes">Posts <%= name.substr(0, name.indexOf(' '))%> Liked</h2>
        <div class = "posts_container"> 
            <% likes.forEach(function(post) {%>
                <div class = "user_post"> 
                    <p class = "post_timestamp"><%= post.createdAt.substr(0,10) %></p>  
                    <p class = "post_message"><%= post.message %></p>                
                        <a class = "post_link" href="<%= post.imageUrl %>" target="_blank"><i class="fas fa-image"></i></a>
                    </p>                
                </div>
            <% }); %>
        </div>  

        <h2 class = "subtitle" id = "user_dislikes">Posts <%= name.substr(0, name.indexOf(' '))%> Disliked</h2>
        <div class = "posts_container"> 
            <% dislikes.forEach(function(post) {%>
                <div class = "user_post"> 
                    <p class = "post_timestamp"><%= post.createdAt.substr(0,10) %></p>  
                    <p class = "post_message"><%= post.message %></p>                
                        <a class = "post_link" href="<%= post.imageUrl %>" target="_blank"><i class="fas fa-image"></i></a>
                    </p>                
                </div>
            <% }); %>
        </div>  
    </div>
</body>
<%- include('_footer') -%>
</html>